/* Created with Easy CSS Menu */

#mbmdhpebul_wrapper {
  padding: 0;
  border-style: solid;
  border-color: #B50831;
  border-width: 0;
  border-radius: 0;
  background-color: #424242;
  box-shadow: none;
  border-collapse: separate;
  font-size: 0;
  line-height: 0;
}

#mbmdhpebul_wrapper.quirks {
  margin-bottom: 1px;
  margin-right: 1px;
}

#mbmdhpebul_wrapper.quirks #mbmdhpebul_table ul li {
  width: 100%;
}

#mbmdhpebul_table {
  margin: 0px;
  margin-bottom: -1px;
  margin-right: -1px;
  padding: 0;
  line-height: 0px;
  font-size: 0px;
  display: inline-block;
  width: auto;
}

#mbmdhpebul_table li a {
  line-height: 23px;
  font-size: 19px;
  font-family: "Roboto Condensed","Arial Narrow",sans-serif;
  text-decoration: none;
  color: #FAFAF9;
  font-style: normal;
  font-weight: bold;
  padding: 42px 20px 20px 20px;
  display: block;
  cursor: pointer;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#mbmdhpebul_table li div.buttonbg {
  height: 200px;
  width: 390px;
  line-height: 0;
  background-color: #424242;
  border-style: solid;
  border-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  text-align: center;
}

#mbmdhpebul_table li:hover div.buttonbg a, #mbmdhpebul_table li.expanded a.topitem, #mbmdhpebul_table li.active a.topitem,
#mbmdhpebul_table li.itemhot a.topitem, #mbmdhpebul_table li a:hover {
  color: #FAFAF9;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}


#mbmdhpebul_table li.expanded div.buttonbg, #mbmdhpebul_table li.active div.buttonbg, #mbmdhpebul_table li.itemhot div.buttonbg, #mbmdhpebul_table li:hover div.buttonbg {
  background-color: #000000;
  box-shadow: none;
}

#mbmdhpebul_table li.expanded div.buttonbg, #mbmdhpebul_table li.active div.buttonbg, #mbmdhpebul_table li.itemhot div.buttonbg, #mbmdhpebul_table li:hover div.buttonbg {
  border-color: transparent;
}

#mbmdhpebul_table ul li a {
  color: #E0E5E8;
  font-family: "Roboto Condensed","Arial Narrow",sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  display: block;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#mbmdhpebul_table ul li:hover > a {
  color: #FFFFFF;
  font-family: "Roboto Condensed","Arial Narrow",sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}

#mbmdhpebul_table ul li.subexpanded a.subexpanded, #mbmdhpebul_table ul li.subitemhot a.subitemhot, #mbmdhpebul_table ul li a:hover {
  color: #FFFFFF;
  font-family: "Roboto Condensed","Arial Narrow",sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}

#mbmdhpebul_table ul li:hover, #mbmdhpebul_table ul li.subexpanded, #mbmdhpebul_table ul li.subitemhot {
  border-color: transparent;
  background-color: #AEBAC2;
  box-shadow: none;
}

#mbmdhpebul_table ul {
  margin: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 0;
  padding: 0;
  background: #9AAAB3;
  font-size: 0;
  border-radius: 0;
}

#mbmdhpebul_table ul li a {
  padding: 12px 20px 12px 18px;
  text-align: left;
}

#mbmdhpebul_table ul li.separator {
  padding: 12px;
  cursor: default;
  background: none;
  box-shadow: none;
  border-width: 0;
}

#mbmdhpebul_table ul li.separator div {
  border-top: 1px solid #AEBAC2;
  font-size: 0px;
}

#mbmdhpebul_table ul li {
  border-style: solid;
  border-color: #870724;
  border-width: 0;
  height: auto;
  width: auto;
  text-align: left;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  float: none;
  margin: 0 0 0px 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  background-color: #9AAAB3;
  display: block;
}


#mbmdhpebul_table a img {
  border: none;
}

#mbmdhpebul_table li {
  list-style: none;
  float: left;
  margin: 0px 1px 1px 0px;
  padding: 0;
  float: left;
  display: inline-block;
}

#mbmdhpebul_table.css_menu li {
  position: relative;
}

#mbmdhpebul_table.css_menu ul li:hover > ul {
  opacity: 1;
}

#mbmdhpebul_table.css_menu li:hover > ul {
  top: 100%;
  left: 0;
  right: auto;
  opacity: 1;
}

#mbmdhpebul_table.css_menu ul li:hover > ul {
  top: -0px;
  left: 100%;
  right: auto;
}

#mbmdhpebul_table.css_menu ul {
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-property:opacity;
  -webkit-transition-property:opacity;
  -moz-transition-property:opacity;
  -ms-transition-property:opacity;
  opacity: 0;
}

#mbmdhpebul_table ul {
  position: absolute;
  top:-99999px;
  z-index: 4000;
}

#mbmdhpebul_table ul ul {
  position: absolute;
  z-index: 5000;
}

#mbmdhpebul_table .submenu_arrow {
  margin-left: 8px;
}


@media screen and (max-width: 500px) {
  #mbmdhpebul_wrapper:not(.scripted) {
    text-align: center;
  }

  #mbmdhpebul_wrapper:not(.scripted) #mbmdhpebul_table li {
    float: none;
    vertical-align: top;
  }
}

#mbmdhpebul_wrapper.centeritems {
  text-align: center;
}

#mbmdhpebul_wrapper.centeritems #mbmdhpebul_table li {
  float: none;
  vertical-align: top;
}
#mbmdhpebul_table a.with_img_4 span.img_4x5, .mbmdhpebul_menulist span.img_4x5 { 
  width: 4px; 
  height: 5px; 
  display: inline-block; 
  vertical-align: middle; 
}

#mbmdhpebul_table li:hover > a span.img_4x5, #mbmdhpebul_table li.subexpanded > a span.img_4x5 { 
  background-position: 0 -5px; 
} 

#mbmdhpebul_table ul li a.with_arrow { 
  background-image: url(ebab_mbmdhp_c.png); 
  background-repeat: no-repeat; 
  background-position: right center; 
  padding-right: 24px; 
} 

#mbmdhpebul_table ul li a.with_arrow:hover, #mbmdhpebul_table ul li:hover > a.with_arrow, #mbmdhpebul_table ul li.subexpanded > a.with_arrow { 
  background-image: url(ebab_mbmdhp_c2.png); 
} 

